.about {
    background-color: #c0fadb;
    direction: rtl;
    text-align: center;
}
.title{
    text-align: center;

    color: #003059;
}
.h2{

}
.end{
    font-family: "Guttman Drogolin", fantasy;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to bottom, #00caa9, #00225d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}