.login-form{
    background-color: #62ffa8;
    text-align: right;
    font-weight: lighter;
    direction: rtl;
}
.registration-form{
    background-color: #62ffa8;
    text-align: right;
    font-weight: lighter;
    direction: rtl;
}
body{
    background-color: #62ffa8;
}
p{
    direction: rtl;
    text-align: right;
}
.right{
    text-align: right;
    font-weight: lighter;
    direction: rtl;
}
.title{
    text-align: center;
}