.shoppingList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shoppingList1 {
    background-color: #c0fadb;
}

.title{
    text-align: center;
    direction: rtl;
}
.right{
    text-align: right;
    font-weight: lighter;
    direction: rtl;
}
.end{
    font-family: "Guttman-Aram", fantasy;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffd21b, #ea6800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.sortedByFavoritesButton {
}